#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.myclass {
  color: chartreuse;
  margin: 10px;
  padding: 10px; 
  text-align: center;
}

/*.cart-container {
  padding: 20px;
  max-width: 600px;
  margin: auto;
  border: 1px solid #ddd;
  border-radius: 10px;
  background-color: #f9f9f9;
}*/

.coupon-section {
  margin-top: 20px;
}

.coupon-input {
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ddd;
  border-radius: 5px;
  width: calc(100% - 120px);
}

.apply-coupon-btn {
  padding: 10px 20px;
  margin-left: 10px;
  font-size: 16px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.apply-coupon-btn:hover {
  background-color: #0056b3;
}

.error-message {
  color: red;
  margin-top: 10px;
}
.navbar {
  display: flex;
  gap: 10px;
  align-items: center;
  background: black;
  padding: 10px;
  border-radius: 8px;
}

.welcome{
  color: magenta;
}

.logout{
  background-color: aqua;
}
